<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>siw-progetto-galleria</display-name>
	<servlet>
		<servlet-name>SiwGalleria</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>SiwGalleria</servlet-name>
		<!-- I file .xhtml e .jsp vengono mappati in .jsf con successo -->
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<security-role>
		<role-name>amministratore</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area protetta</web-resource-name>
			<url-pattern>/protetto/*</url-pattern>
			<url-pattern>/inserimentoAutore.jsf</url-pattern>
			<url-pattern>/inserimentoQuadro.jsf</url-pattern>
			<url-pattern>/modificaPaginaAutore.jsf</url-pattern>
			<url-pattern>/modificaPaginaQuadro.jsf</url-pattern>
			<url-pattern>/modificaAutore.jsf</url-pattern>
			<url-pattern>/modificaQuadro.jsf</url-pattern>
			<!-- MODIFICARE: Le pagine protette vanno in /protetto/ , la navBar unica non consente questa soluzione (/protetto/protetto/...) -->
		</web-resource-collection>
		<auth-constraint>
			<!-- Il rolename deve essere creato sia nel web.xml (vedere più sopra), sia dentro tomcat-users.xml (dove sono salvate le credenziali) -->
			<role-name>amministratore</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<!-- Metodo di richiesta di autenticazione (possibile sia via browser, con un overlay che compare, sia via form dentro una pagina specificata -->
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login/login.jsp</form-login-page>
			<form-error-page>/login/login-fallito.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
</web-app>