body{
	background-image: url("https://www.xmple.com/wallpaper/linear-cyan-gradient-5120x2880-c2-1da1b0-07dcf4-a-75-f-14.svg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	font-family: Lucida Grande;
	color: white;
}